<div class="container">

  <h2>Config Compare Tool</h2>

  <label>Feature:</label>
  <input [(ngModel)]="feature" placeholder="example: acl" (input)="findSection(feature)">

  <div class="editors">
    <textarea [(ngModel)]="intendedText"(select)="onSelection($event)" placeholder="Paste intended config"></textarea>
    <textarea [(ngModel)]="actualText" placeholder="Paste actual config"(input)="findSection(feature)"></textarea>
  </div>

  <button (click)="compareNow()">COMPARE</button>

  <div *ngIf="result.length">
    
    <div *ngFor="let item of result" class="section">

      <h3>{{ item.header }}</h3>

      <div class="block">
        <strong>✔ Present</strong>
        <ul>
          <li *ngFor="let r of item.found" class="green">{{ r }}</li>
        </ul>
      </div>

      <div class="block">
        <strong>❌ Missing</strong>
        <ul>
          <li *ngFor="let r of item.missing" class="red">{{ r }}</li>
        </ul>
      </div>

    </div>

  </div>
</div>
<div class="diff-container">

  <!-- LEFT PANEL -->
  <div
    class="diff-panel"
    #leftPanel
    (scroll)="syncScroll('left')"
  >
    <div
      class="diff-content"
      [innerHTML]="leftsection"
    ></div>
  </div>

  <!-- RIGHT PANEL -->
  <div
    class="diff-panel"
    #rightPanel
    (scroll)="syncScroll('right')"
  >
    <div
      class="diff-content"
      [innerHTML]="section"
    ></div>
  </div>

</div>


