<div class="diff-container">

  <!-- FILE UPLOAD BAR -->
  <div class="file-bar">
    <div class="upload-block">
      <label class="upload-label">Old File:</label>
      <input type="file" (change)="onOldFileSelect($event)">
    </div>

    <div class="upload-block">
      <label class="upload-label">New File:</label>
      <input type="file" (change)="onNewFileSelect($event)">
    </div>
  </div>

  <!-- EDITOR AREA -->
  <div class="editor">
    <div class="header">
      <div class="col-title">Old File</div>
      <div class="col-title">New File</div>
    </div>

    <div class="editor-body">

      <!-- LEFT EDITOR -->
      <div class="editor-col left">
        <div class="line"
             *ngFor="let r of diffRows">
          <div class="line-no">{{ r.left.lineNo }}</div>
          <div class="text" [innerHTML]="r.left.text"></div>
        </div>
      </div>

      <!-- RIGHT EDITOR -->
      <div class="editor-col right">
        <div class="line"
             *ngFor="let r of diffRows">
          <div class="line-no" >{{ r.right.lineNo }}</div>
          <div class="text" [innerHTML]="r.right.text"></div>
        </div>
      </div>

    </div>

  </div>

</div>
